<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eevix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/media_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen"
        tools:targetApi="21"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.eevix.PlaybackActivity"
            android:icon="@drawable/media_launcher"
            android:label="@string/title_activity_player"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.eevix.MainActivity"
            android:icon="@drawable/media_launcher"
            android:label="EevixDLNA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.eevix.DLNAMediaRender"
            android:enabled="true"
            android:exported="false" />


    </application>

</manifest>